<% obj.each do |article| %>
  <div class="row justify-content-center">
    <div class= "card col-md-8 mb-2">
        <div class= "card-body">
          <div class= "card-title">
            <h2 class= "artilce-title"> <%= article.title%> </h2>
          </div>
          <p>
            <small class="font-size"> 
              By <% author_name= article.user.name.capitalize()%>
              <%= link_to author_name ,  user_my_articles_path(article.user) %> |
              <%=article.created_at.strftime("%B %d, %Y") %> |
              <% if article.comments.count > 0%>
                <%=article.comments.count %> Comments
              <% else %>
                No Comments
              <% end %>
            </small> 
          </p>
          <%= link_to 'Read Article', article_path(article), class:"btn btn-info btn-sm" %>
        </div>
    </div>
  </div>
<% end %>
