<div class="container">
  <div class ="row">
    <div class= "col-md-8">
      <div class="card">
        <div class="card-header">
          <h2 class="article-title"><%= @article.title%> </h2><br/>
            <small class="font-italic"> Some Writer | <%=@article.created_at.strftime("%B %d, %Y") %></small>
            <div class="float-right"> 
              <%= link_to 'edit', edit_article_path(@article), class:"btn btn-info btn-sm" %>
              <%= render 'shared/delete_popover'%>
            </div>
        </div>
        <div class="card-body article-body">
          <p> <%= @article.text%> </p> 
        </div>
      </div>
    </div>
  </div>
</dive>