<div class ="row">
  <div class= "col-md-8">
    <div class="card">
      <div class="card-header">
        <h2 class="article-title"><%= @article.title%> </h2><br/>
          <small > 
            <% author_name= @article.user.name.capitalize()%>
            <!--<strong><%= @article.user.name.capitalize()%></strong> | 
             -->
            <%= link_to author_name , user_my_articles_path(@article.user) %> |
            <%=@article.created_at.strftime("%B %d, %Y") %>
          </small>
          <div class="float-right"> 
            <!-- rendering partial for edit and delete actions -->
            <%= render 'shared/article_actions'%>
          </div>
      </div>
      <div class="card-body article-body" >
        <p> <%= @article.text%> </p> 
      </div>
    </div>
  </div>
</div>
